!!!
%html
  %head
    %title TwLibrary
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .navbar
        .navbar-inner
          %a.brand{:href => "/#!/index"} Library
          %ul.nav
            %li.active
              %a{:href => "/#!/index"} Home
            %li
              %a{:href => "/#!/new"} New
            %li
              %a{:href => "#"} Link
      .container.main-container
        = yield

